.table_last {
  background-color: rgb(216, 216, 216);
  color: gray;
}
.table_header {
  color: cornflowerblue;
}
.tbl th {
  /* border: 1px solid yellowgreen; */
  background: gray;
  color: white;
  font-size: small;
  padding: 5px;
}

.tbl td {
  padding: 15px;
}
