.content-wrapper {
    background: #f2f7fb;
}

.content {
    padding: 15px;
}

.rowShadow {
    background-color: white;
    box-shadow: 0px 0px 5px 0px #f2f7fb;
    padding: 0.5rem;
}

.rowShadow1 {
    background-color: white;
    box-shadow: 0px 0px 5px 0px #f2f7fb;
    padding-top: 0.5rem;
}

.boxBorder {
    border: 10px solid white;
    padding: 0.5rem;
}

.rowShadow2 {
    background-color: #f4f9fc;
    box-shadow: 0px 0px 5px 0px #f4f9fc;
    padding: 0.5rem;
}

.btnStyles {
    font-size: 14px;
    width: 100px !important;
    font-weight: 600;
}

.btnStyles-sub {
    background: #2245b4e3;
    color: white;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 14px;
}

.btnStyles-sub:hover {
    color: white;
    background: #176ab0;
    box-shadow: 0px 0px 10px 0px #56a2d4;
    border: 1px solid #176ab0;
}

.btnStyles-reset {
    background: #958f839e;
    border: #958f839e;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 14px;
}

.btnStyles-reset:hover {
    color: white;
    background: #958f839e;
    border: #958f839e;
    box-shadow: 0px 0px 10px 0px #56a2d4;
    border: 1px solid #176ab0;
}


.theadStyles {
    background-color: #f4f9fc;
    color: black;
}

.pencilicon {
    color: #2370bfcf;
    font-size: 16px;
}

.inline-form {
    display: inline-block;
    width: 115%;
}

.activebtn {
    background: #d4ffe6 !important;
    cursor: default !important;
    padding: 5px 21px 5px !important;
}

.inactivebtn {
    background: #f9e6e0 !important;
    cursor: default !important;
    padding: 5px 15px 5px !important;
}

.inprogressbtn {
    background: #fdf0db !important;
    cursor: default !important;
    padding: 5px 15px 5px !important;
}

.text-danger:hover {
    color: #dc3545 !important;
}

.activebtn:hover {
    background: #d4ffe6 !important;
    cursor: default !important;
    padding: 5px 21px 5px !important;
}

.inactivebtn:hover {
    background: #f9e6e0 !important;
    cursor: default !important;
    padding: 5px 15px 5px !important;
}

.validating {
    font-size: 17px;
    text-align: center;
}

.datefield {
    height: 35px;
    border: 1px solid gray;
    border-radius: 5px;
}

.hrdiv {
    padding-bottom: 1rem;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #7387d3;
    background-color: #585858;
    background: linear-gradient(to bottom, #4169d5 0%, #3e7ee0 100%);
}

.nav-sidebar .nav-item>.nav-link {
    font-size: 14px;
}

.fon-stle {
    font-size: 14px;
    font-family: sans-serif;
    height: 100vh !important;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 1px #e1d7d7 solid;
    border-top: none;
}

.form-control {
    font-size: 14px !important;
    font-family: sans-serif !important;
}

.form-select {
    font-size: 14px !important;
    font-family: sans-serif !important;
}

.bg-white {
    font-size: 14px !important;
    font-family: sans-serif !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #f2f4f6 !important;
    border: none;
    background-color: white;
    background: linear-gradient(to bottom, #17a2b8 0%, #17a2b8 100%);
    border-radius: 50%;
    font-size: 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #eff0f2 !important;
    border: 1px solid #979797;
    background-color: white;
    background: linear-gradient(to bottom, #4272da 0%, #203b95 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #f3f6f7 !important;
    background: linear-gradient(to bottom, #2c4ead 0%, #294aa8 100%);
    border-radius: 50%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: linear-gradient(to bottom, #2e51b1 0%, #355dc0 100%);
    color: white !important;
    border-radius: 50%;
}

.invalid-feedback {
    font-size: 18px;
    text-align: center;
}

.table>thead {
    border-bottom: 2px solid #f2f7fb !important;
    background: #f2f7fb;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    /* border-top: 1px solid #dee2e6; */
    border-top: 2px solid #f2f7fb;
}

.form-control {
    border: 1px solid #ced4da !important;
}

.ui[data-v-e9cead4c] {
    display: flex;
}
.ui.button {
    background: #9CB6C9 !important;
    color: rgb(255 255 255) !important;
    padding: 0.88571429em 1.9em !important;
    border-radius: 4px !important;
}

.ui.primary.button {
    box-shadow: 0 0 0 0 rgb(34 36 38 / 15%) inset !important;
    background: #0068B4 !important;
    padding: 0.88571429em 1.9em !important;
    border-radius: 4px !important;
}



.ui.celled.table tr td,
.ui.celled.table tr th {
    border-left: hidden;
}

.ui.table thead {
    background-color: #f4f9fc;
}

.ui.table thead th {
    background-color: #f4f9fc;
}

.ui.blue.table {
       border-top: 0.2em solid #f4f9fc;
}

.ui.attached.table {
    border: 3px solid #f4f9fc;
}
.ui.table td {
    padding: 0.4rem;
}
.vuetable-pagination{
 background: #ffffff !important;
}
.fulsc{
    min-height: 75vh;
}
.pad-content{
    padding: 6rem;
}